[run]
branch = True
source = src/text_clf

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    ...

omit =
    src/text_clf/__main__.py

show_missing = True
ignore_errors = False
