*.DS_Store
.python-version
*.ipynb
*.ipynb_checkpoints

# cache
*__pycache__
*.mypy_cache
*.cache

# coverage
*.coverage
*coverage.xml

venv
.idea
dist

*.egg-info/

data/*
!data/README.md
!data/fetch_20newsgroups.py

models/*
!models/README.md
